<?xml version="1.0" encoding="utf-8"?>
<!-- 
	Susi
	Copyright (C) 2024  Sean Francis N.Ballais

	This program is free software : you can redistribute it and /or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.If not, see < http://www.gnu.org/licenses/>.
-->

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:desktop9="http://schemas.microsoft.com/appx/manifest/desktop/windows10/9"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="com desktop desktop4 desktop5 uap uap2 uap3 uap10 rescap">

  <Identity
    Name="susi-c929009c-b0dd-4a96-a0e1-9e008a0ea53b"
    Publisher="CN=Sean Francis N. Ballais"
    Version="0.1.0.0"
	ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Susi</DisplayName>
    <PublisherDisplayName>Sean Francis N. Ballais</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22631.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22631.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Susi"
        Description="Secure your files."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  ShortName="Susi" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
	  <Extensions>
		<uap3:Extension Category="windows.fileTypeAssociation">
		  <uap3:FileTypeAssociation Name="ssef" Parameters="&quot;%1&quot;">
			<uap:SupportedFileTypes>
			  <uap:FileType>.ssef</uap:FileType>
			</uap:SupportedFileTypes>
			<uap:DisplayName>Susi Encrypted File</uap:DisplayName>
		  </uap3:FileTypeAssociation>
		</uap3:Extension>
		<com:Extension Category="windows.comServer">
		  <com:ComServer>
			<com:SurrogateServer DisplayName="Susi Shell Extension">
			  <com:Class Id="D56A16FE-D6DD-41A4-A2E1-08C05AB083C7" Path="ShellExtension.dll" ThreadingModel="STA" />
			</com:SurrogateServer>
		  </com:ComServer>
		</com:Extension>
		<desktop4:Extension Category="windows.fileExplorerContextMenus">
		  <desktop4:FileExplorerContextMenus>
			<desktop5:ItemType Type="*">
				<desktop5:Verb Id="LockCommand" Clsid="D56A16FE-D6DD-41A4-A2E1-08C05AB083C7" />
			</desktop5:ItemType>
		  </desktop4:FileExplorerContextMenus>
		</desktop4:Extension>
	  </Extensions>
    </Application>
  </Applications>
  <Capabilities>
	  <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
